@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* :root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
} */

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(30deg, #7d5fff, #7158e2);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
    margin: 0;
}

/* .container {
    text-align: center;
    z-index: 5;
} */

.search {
    position: relative;
    height: 50px;
    /* background-color: lavender; */
}

.search .input {
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0);
    /* overflow: hidden; */
    border: 0;
    /* font-size: 18px; */
    padding: 15px;
    height: 50px;
    width: 50px;
    /* transition: background-color 0.4s ease; */
    /* transition: width 0.3s ease; */
    transition: all 0.3s ease;
}

.btn {
    background-color: white;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.btn i:hover {
    transform: scale(1.04);
    color: purple;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 18px;
}

.search.active .btn {
    transform: translateX(198px);
    border-radius: 0px;
}






/* ----------------  Navigation breadCrumb ---------- */
nav {
    background-color: #f4f4f4;
    color: #333;
    overflow: auto;
    border-bottom: 1px solid #333;
    /* margin-bottom: 2rem; */
}

nav a {
    color: #333;
}

nav a:hover {
    font-weight: 700;
}

nav ol {
    list-style: none;
    float: left;
}

nav ol li {
    float: left;
    padding-left: 0.5rem;
}

nav ol li:not(:last-child)::after {
    font-weight: bold;
    color: navy;
    content: " / ";
}

.clr {
    clear: both;
}