@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* :root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
} */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}


main {
    background-color: #efedd6;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.container {
    text-align: center;
    z-index: 5;
}

h1{
    margin: 10px;
}
.box{
    background-color: steelblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
    /* transition: transform 0.4s ease; */
}

.box.show{
    transform: translateX(0);
}

.box h2{
    font-size: 45px;
}









/* ----------------  Navigation breadCrumb ---------- */
nav {
    /* background-color: #333; */
    color: #333;
    overflow: auto;
    border-bottom: 1px solid #333;
    /* margin-bottom: 2rem; */
}

nav a {
    color: #333;
}

nav a:hover {
    font-weight: 700;
}

nav ol {
    list-style: none;
    float: left;
}

nav ol li {
    float: left;
    padding-left: 0.5rem;
}

nav ol li:not(:last-child)::after {
    font-weight: bold;
    color: navy;
    content: " / ";
}

.clr {
    clear: both;
}
/* fdsdf */