* {
    box-sizing: border-box;
}

/* img {
    max-width: 100%;
    width: auto;
    height: auto;
} */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: steelblue;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background-color: white;
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}









@media (max-width:800px) {
    body {
        flex-direction: column;
    }
}



/* ----------------  Navigation breadCrumb ---------- */
nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #333;
    border-bottom: 1px solid #333;
    padding: 1rem;

}

nav a {
    color: #333;
}

nav a:hover {
    font-weight: 700;
}

nav ol {
    list-style: none;
    display: flex;
}

nav ol li {
    padding-left: 0.5rem;
}

nav ol li:not(:last-child)::after {
    font-weight: bold;
    color: navy;
    padding-left: 0.5rem;
    content: " / ";
}