@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* :root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
} */

* {
    box-sizing: border-box;
}

/* img {
    max-width: 100%;
    width: auto;
    height: auto;
} */

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

button {
    position: relative;
    background-color: purple;
    color: white;
    border: 1px purple solid;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
}

button:focus {
    outline: none;
}

button .circle {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}













/* ----------------  Navigation breadCrumb ---------- */
nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #333;
    border-bottom: 1px solid #333;
    padding: 1rem;

}

nav a {
    color: #333;
}

nav a:hover {
    font-weight: 700;
}

nav ol {
    list-style: none;
    display: flex;
}

nav ol li {
    padding-left: 0.5rem;
}

nav ol li:not(:last-child)::after {
    font-weight: bold;
    color: navy;
    padding-left: 0.5rem;
    content: " / ";
}